@import '../../../../variables';

.trip {
  grid-column: 3/-3;
  width: 100%;
  border: 2px solid $background-light-gray;
  border-radius: 30px;

  &__info {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $background-light-gray;

    &--owner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 15%;
      border-right: 1px solid $background-light-gray;

      &--pic {
        height: 60px;
        width: 60px;

        border-radius: 50%;
      }

      &--name {
        font-size: 18px;
        color: $text-color-dark;
        font-weight: 500;
        margin: 0;
        margin-top: 10px;
      }
    }

    &--details {
      width: 85%;
      
      
      &--name {
        text-align: center;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 800;
        margin: 8px;
        color: $text-color-dark;
      }

      &--block {
        border-top: 1px solid $background-light-gray;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        &--date {
          display: flex;
          flex-direction: column;
          justify-content: space-around;


          &--text {
            font-size: 18px;
            color: $text-color-dark;
            margin: 7px;
          }
        }

        &--members {
          display: flex;
          flex-direction: column;
          justify-content: space-around;


          &--text {
            font-size: 18px;
            color: $text-color-dark;
            margin: 7px;
          }
        }

        &--button {
          text-decoration: none;
          padding: 15px 70px;
          background-color: $background-light-gray;
          border-radius: 60px;
          font-size: 17px;
          color: $text-color-light;
          text-align: center;
          font-weight: 700;
          transition: all $transition-duration;
          outline: none;
          border: none;
          cursor: pointer;

          &:hover {
            box-shadow: 0 0 20px #91cfa6; 
          }
        }
      }
    }
  }

  &__route {
    display: flex;
    flex-direction: row;
    
    &--text {
      width: 10%;
      font-size: 18px;
      color: $text-color-dark;
      text-align: center;
      margin: 10px;
    }

    &--info {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 12px;

      &--line {
        height: 0;
        width: 100%;
        border: 1px dashed gray;
      }

      &--text {
        margin: 5px 0 0;
        color: $text-color-dark;
      }
    }
  }

  &__status {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 10px;
    border-top: 1px solid $background-light-gray;

    &--text {
      text-transform: uppercase;
      font-size: 16px;
      color: $text-color-dark;
    }

    &--circle {
      height: 13px;
      width: 13px;
      border-radius: 50%;

      &.completed {
        background-color: red;
      }
      &.incoming {
        background-color: green;
      }
      &.now {
        background-color: blue;
      }
    }
  }
}
