@import '../../../mixins';
@import '../../../variables';

.triplist{
  @include page-grid;
  margin-top: 80px;
  padding-inline: 40px;
  row-gap: 30px;

  &__button {
    grid-column: 5/9;
    font-size: 30px;
    text-decoration: none;
    padding: 15px 70px;
    background-color: $background-light-gray;
    border-radius: 60px;
    color: $text-color-light;
    text-align: center;
    font-weight: 700;
    transition: all $transition-duration;
  }
}